<div class="stadist">
	<h1>Estadísticas</h1>
	<table>
		<tr><td>Número de preguntas:</td><td class="num"><%=quizes%></td></tr>
		<tr><td>Número de comentarios totales:</td><td class="num"><%=comments%></td></tr>
		<tr><td>Número de preguntas sin comentarios: </td><td class="num"><%=quizWithoutCom%></td></tr>
		<tr><td>Número de preguntas con comentarios: </td><td class="num"><%=quizWithCom%></td></tr>
		<tr><td>Número medio de comentarios por pregunta: </td><td class="num"><%=medComments%></td></tr>
	</table>
</div>